<div class="header">
  <h1>Note Management Application</h1>
  <p>View & Add your cool Notes</p>
</div>

<nav class='navbar'>
  <ul class='nav'>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/'>Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/add-note'>Add Note</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/list-note'>List Note By Title</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/list-all-notes'>List All Notes</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
